@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexspacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
