@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexspacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flexalignstart {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/*------------------Media------------------*/
@mixin mediaquery950px() {
    @media (min-width: 950px) {
        @content;
    }
}
@mixin mediaquery1150px() {
    @media (min-width: 1150px) {
        @content;
    }
}
@mixin mediaquery1450px {
    @media (min-width: 1450px) {
        @content;
    }
}