@use "./_mixin.scss" as *;
@use "./colors.scss" as *;

/*----------Universial-------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    scroll-behavior: smooth;
    
}
.wrapper {
    width: min(95%, 120rem);
    margin-inline: auto;
}

/*------------Navbar------------------*/
nav {

    .top-nav {
        background: $lightGray;
        display: none;
        @include mediaquery950px {
            display: block;
        }
        .top-nav-content {
            @include flexspacebetween;
            .top-logo-left {
                padding: 0.5rem 0;
                .logo-icon {
                    font-size: .8rem;
                    text-decoration: none;
                    color: $offBlack;
                    padding-right: 0.5rem;
                }
            }
            .top-right-nav {
                .help {
                    text-decoration: none;
                    color: $offBlack;
                    font-size: .8rem;
                    padding: 0 0.5rem;
                }
            }
        }   
    }
    /*-----------------Middle Nav---------*/
    .middle-nav {
        padding: 1rem 0;
        
        .middle-nav-content {
            @include flexspacebetween;
            .col {
                width: 50%;
                @include mediaquery950px {
                    width: 33%;
                }
            }
            .middle-nav-logo {
              
                .nike {
                    text-decoration: none;
                    color: $offBlack;
                }
            }
            .middle-nav-links {
                display: none;
             
             @include mediaquery1150px {
                @include flexspacebetween; 
             }
             li {
                list-style-type: none;
                padding: 0 .5rem;
                .link {
                    text-decoration: none;
                    color: $offBlack;
                }
             }
            } 
            .middle-nav-search {
                text-align: right;
                @include mediaquery950px {
                    text-align: right;
                }
                input {
                    display: none;
                    @include mediaquery950px {
                        display: inline-flex;
                        outline: none;
                        border: none;
                        border-radius: 50px 50px;
                        padding: 0.55rem 1rem;
                        background: $lightGray;
                    }
                   
                }
                a {
                    text-decoration: none;
                }
                
                .fa-magnifying-glass {
                    cursor: pointer;
                    padding: 0.5rem;
                    margin-left: 0.5rem;
                    border-radius: 50px 50px;
                    color: $offBlack;
                    &:hover {
                        background: $lightGray;
                    }
                    @include mediaquery950px {
                        padding: 0.5rem;
                        position: absolute;
                        right: 8.5rem;
                        border-radius: 0 50px 50px 0;
                    }
                }
                .f {
                    padding: 0.5rem;
                    margin-left: 0.5rem;
                    border-radius: 50px 50px;
                    color: $offBlack;
                    &:hover {
                        background: $lightGray;
                    }
                }
                .fa-bars {
                    
                    padding: 0.5rem;
                    border-radius: 50px 50px;
                    color: $offBlack;
                    &:hover {
                        background: $lightGray;
                    }
                    @include mediaquery950px {
                        display: none;
                    }
                }
            }
            
        }
    }
    .nav-bottom {
        background: $lightGray;
        padding: 1rem 0;
        .nav-bottom-content {
            text-align: center;
            small {
                a {
                    color: $offBlack;
                }
            }
        }
    }
}

/*-------------------Hero Section----------------------*/
.hero-section {
    min-height: 70vh;
    @include flexcenter;
    padding: 2rem 0;
    .hero-content {
        @include flexcenter;
        width: 100%;
       

            picture {
                width: 100%;
                img {
                    width: 100%;
                    min-height: 800px;
                    object-fit: cover;
                    @include mediaquery950px {
                        min-height: auto;
                        object-fit: contain;
                    } 
                }
            }
    }
}

/*---------------------Bring the Heat----------------*/
.bring-heat-section {
    min-height: 30vh;
    @include flexcenter;
    padding: 2rem 0;
    .bring-heat-content {
        text-align: center;

        h1 {
            font-size: 3rem;
            font-family: sans-serif;
        }
        p {
            padding: 0.5rem 0;
            font-size: 1.2rem;
            width: 50%;
            margin: 0 auto;
        }
        .shop-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            @include mediaquery950px {
                flex-direction: row;
            }
            .btn {
                background: $offBlack;
                color: #fff;
                cursor: pointer;
                padding: 0.5rem 1rem;
                margin: 0.5rem;
                border: none;
                border-radius: 50px 50px;
                font-size: 1.2rem;
                transition: .1s ease-in-out;
                &:hover {
                    background: $blurBlack;
                }
            }

        }
        
    }
}
/*--------------Trending-------------------*/
.trending-section {
    @include flexcenter;
    min-height: 70vh;
    padding: 2rem 0;
    h2 {
        padding-bottom: 1rem;
    }
    .trending-content {
        @include mediaquery950px {
            @include flexspacebetween;
        }
        .trending-img {
            margin-top: 2rem;
            a {
                
                img {
                    width: 100%;
                }
            }
            p {
                font-size: 1.2rem;
                
                @include mediaquery950px {
                    padding-top: 1rem;
                }
            }
        }
        
    }
}

/*----------Featured-----------------*/
.featured-section {
    min-height: 90vh;
    @include flexcenter;
    padding: 2rem 0;
    h2 {
        padding-bottom: 1rem;
    }

    .featured-content {
        @include mediaquery950px {
            @include flexspacebetween;
        }
        min-height: 70vh;
        gap: .7rem;
        .featured-img {
         width: 100%;
        position: relative;
        margin-bottom: .8rem;
        @include mediaquery950px {
            width: 50%;
            margin-bottom: 0;
        }
         .featured-inner {
            position: absolute;
            bottom: 2.5rem;
            left: 2.5rem;
            color: #fff;

            .btn {
                padding: 0.5rem 1rem;
                background: #fff;
                border: none;
                border-radius: 50px 50px;
                cursor: pointer;
                transition: .1s ease-in-out;
                &:hover {
                    background: $darkGray;
                }
            }
         }
            a {
                img {
                    width: 100%;
                }
            }
        }
        .soccer {
            background-image: url(/image/feature3.webp);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 65vh;
            h1 {
                padding: 1rem 0;
                width: 55%;
            }
        }
        .national {
            background-image: url(/image/feature4.webp);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 65vh;
            h1 {
                padding: 1rem 0;
            }
        }
    }
    
}

/*------------Scrolling Image-----------*/
.horizontal-scroll-section {
    min-height: 70vh;
    @include flexcenter;
    h2 {
        padding-bottom: 2rem;
    }
        .scroll-content {
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            .scroll-img {
              display: inline-block;
              margin: 0.3rem;
              a {
                img {
                    width: 100%;
                }
              }
            }
          }
}
/*---------------Shop by Sport--------*/
.shop-sport-section {
    min-height: 70vh;
    @include flexcenter;
    margin-top: 3rem;
    h2 {
        padding-bottom: 2rem;
    }
    .sport-content {
        @include mediaquery950px {
            @include flexspacebetween;
            gap: 1rem;
        }

        .sport-img {
            margin-bottom: 2rem;
            @include mediaquery950px {
                margin-bottom: 0;
            }
            h2 {
                padding: 0;
                @include mediaquery950px {
                    padding: 1.5rem 0 .5rem 0;
                }
            }
            p {
                padding: 0.5rem 0;
                @include mediaquery950px {
                    padding: 0;
                    padding-bottom: 2rem;
                }
            }
            a {
                color: $offBlack;
                text-decoration: underline;
                img {
                    width: 100%;
                }
            }
        }
    }
}

/*----------------Membership-----------*/
.membership-section {
    margin-top: 4rem;
    min-height: 70vh;
    @include flexcenter;
   
    h2 {
        padding-bottom: 2rem;
    }
    .nike-member-content {
        color: #fff;
        background-image: url(/image/nikemember1.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        @include mediaquery950px {
            background-image: url(/image/nikemember.webp);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
        }

       .content {
        padding: 2rem;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;
        min-height: 70vh;
       
        h1 {
            font-family: sans-serif;
            font-weight: bold;
            font-size: 3rem;
            margin-bottom: 0.5rem;
            width: 100%;
            @include mediaquery950px {
                width: 30%;
                font-size: 4rem;
            }
           
        }
        .button-div {
            margin-top: 1rem;
           
            .btn {
                padding: 0.5rem 1rem;
                background: #fff;
                color: $offBlack;
                cursor: pointer;
                border: none;
                border-radius: 50px 50px;
                transition: .1s ease-in-out;
                &:hover {
                    background: $darkGray;
                }
            }
        }
       }
    }
   
}
/*-------------Exclusive---------------------*/
.exclusive-section {
    min-height: 80vh;
    @include flexcenter;
    .exclusive-content {
        margin: .8rem 0;
        @include mediaquery950px {
            @include flexspacebetween;
        }
        .exclusive-img {
            position: relative;
            margin: 0 0.5rem 2rem 0.5rem;
                @include mediaquery950px {
                    margin: 0 0.5rem 0 0.5rem;
                }
            a {
                text-decoration: none;
                color: $offBlack;
                
                img {
                    width: 100%;
                }
                .ex-info {
                    position: absolute;
                    bottom: 1rem;
                    left: 2rem;
                    @include mediaquery950px {
                        bottom: 4rem;
                        left: 4rem;
                    }
                    p {
                        padding-bottom: 0.8rem;
                    }
                }
                
                
            }
        }
    }
}
/*------------------Pre Footer----------------*/
.pre-footer-nav {
    min-height: 40vh;
    @include flexcenter;

    .navigation-content {

        @include mediaquery950px {
            width: 70%;
            margin: 0 auto;
            @include flexspacebetween;
        }
        .content {
    
            @include mediaquery950px {
                width: 70%;
            }
            p {
                padding-bottom: 2rem;
                @include mediaquery950px {
                    padding-bottom: 0.5rem;
                }
            }
            ul {
                display: none;
                @include mediaquery950px {
                    display: block;
                }
                li {
                    list-style-type: none;
                    padding: 0.5rem 0;
                    a {
                        text-decoration: none;
                        color: $darkGray;
                        @include mediaquery950px {
                            font-size: .8rem;
                        }
                        @include mediaquery1150px {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}
/*------------------Footer--------------------*/
.footer {
    padding: 2rem 0;
    min-height: 40vh;
    background: $offBlack;
    @include flexcenter;
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        @include mediaquery1450px {
            width: 80%;
            margin: 0 auto;
        }

        @include mediaquery1450px {
            flex-direction: row;
        }
        .content {
            
            @include mediaquery950px {
                @include flexalignstart;
            }
            
            .get-help {
                display: none;
                @include mediaquery1450px {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-direction: column;
                }
            }
            .inner-content {
                padding: 0 3rem 1rem 0;
               
                li {
                    list-style-type: none;
                    padding: 0.5rem 0;
                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }

            }
            .footer-icon {
                color: $offBlack;
                margin: 0.5rem;
               
                i {
                    background: $darkGray;
                    padding: 0.5rem;
                    border-radius: 50px 50px;
                    font-size: 1.2rem;
                    transition: .1s ease-in-out;
                    &:hover {
                        background: #fff;
                       }
                }
            }
            
        }
       
    }
    .copy-right {
        padding: 1rem 0;
        @include flexalignstart;
        flex-direction: column;

        @include mediaquery1450px {
        padding: 2rem 0;
        width: 80%;
        margin: 0 auto;
        flex-direction: row;
        @include flexspacebetween;
        }

        .location {
           @include flexcenter;
           gap: 1rem; 
        }
        .copy-content {
            color: #fff;
            padding: 0.5rem 0;
            a {
                margin-left: 1rem;
                small {
                    color: #fff;
                    
                }
            }
        }
    }
}