@use "./_mixin.scss" as *;
@use "./colors.scss" as *;

/*----------Universial-------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    scroll-behavior: smooth;
}
.wrapper {
    width: min(95%, 120rem);
    margin-inline: auto;
}

/*------------Navbar------------------*/
nav {
    .top-nav {
        background: $lightGray;
       
        .top-nav-content {
            @include flexspacebetween;
            .top-logo-left {
                padding: 0.5rem 0;
                .logo-icon {
                    font-size: .8rem;
                    text-decoration: none;
                    color: $offBlack;
                    padding-right: 0.5rem;
                }
            }
            .top-right-nav {
                .help {
                    text-decoration: none;
                    color: $offBlack;
                    font-size: .8rem;
                    padding: 0 0.5rem;
                }
            }
        }   
    }
    /*-----------------Middle Nav---------*/
    .middle-nav {
        padding: 1rem 0;
        .middle-nav-content {
            @include flexspacebetween;

            .col {
                width: 33%;
            }
            .middle-nav-logo {
                .nike {
                    text-decoration: none;
                    color: $offBlack;
                }
            }
            .middle-nav-links {
             @include flexspacebetween; 
             li {
                list-style-type: none;
                padding: 0 .5rem;
                .link {
                    text-decoration: none;
                    color: $offBlack;
                }
             }
            } 
            .middle-nav-search {
                text-align: right;
                input {
                    outline: none;
                    border: none;
                    border-radius: 50px 50px;
                    padding: 0.55rem 1rem;
                    background: $lightGray;
                    position: relative;
                }
                .fa-magnifying-glass {
                    padding: 0.5rem;
                    background: $lightGray;
                    position: absolute;
                    right: 9rem;
                    border-radius: 0 50px 50px 0;
                }
                .f {
                    padding: 0.5rem;
                    margin-left: 0.5rem;
                    border-radius: 50px 50px;
                    color: $offBlack;
                    &:hover {
                        background: $lightGray;
                    }
                }
            }
            
        }
    }
    .nav-bottom {
        background: $lightGray;
        padding: 1rem 0;
        .nav-bottom-content {
            text-align: center;
            small {
                a {
                    color: $offBlack;
                }
            }
        }
    }
}

/*-------------------Hero Section----------------------*/
.hero-section {
    min-height: 70vh;
    @include flexcenter;
    .hero-content {
        @include flexcenter;
        gap: 1rem;
        .hero-img-col {
            border: 2px solid $offBlack;
            width: 25%;
            
            img {
                width: 100%;
                height: 500px;
            }
        }
    }
}

/*---------------------Bring the Heat----------------*/
.bring-heat-section {
    min-height: 30vh;
    @include flexcenter;

    .bring-heat-content {
        text-align: center;

        h1 {
            font-size: 3rem;
        }
        p {
            padding: 0.5rem 0;
            font-size: 1.2rem;
            width: 50%;
            margin: 0 auto;
        }
        .btn {
            background: $offBlack;
            color: #fff;
            cursor: pointer;
            padding: 0.5rem 1rem;
            margin: 0.5rem;
            border: none;
            border-radius: 50px 50px;
            font-size: 1.2rem;
            transition: .1s ease-in-out;
            &:hover {
                background: $blurBlack;
            }
        }
    }
}
/*--------------Trending-------------------*/
.trending-section {
    @include flexcenter;
    min-height: 70vh;

    h2 {
        padding-bottom: 2rem;
    }
    .trending-content {
        @include flexspacebetween;
        .trending-img {
            a {
                img {
                    width: 100%;
                }
            }
            p {
                font-size: 1.2rem;
                padding-top: 1rem;
            }
        }
        
    }
}

/*----------Featured-----------------*/
.featured-section {
    min-height: 90vh;
    @include flexcenter;

    h2 {
        padding-bottom: 1rem;
    }

    .featured-content {
        @include flexspacebetween;
        min-height: 70vh;
        gap: .7rem;
        .featured-img {
         width: 50%;
            position: relative;
         .featured-inner {
            position: absolute;
            bottom: 2.5rem;
            left: 2.5rem;
            color: #fff;

            .btn {
                padding: 0.5rem 1rem;
                background: #fff;
                border: none;
                border-radius: 50px 50px;
                cursor: pointer;
                transition: .1s ease-in-out;
                &:hover {
                    background: $darkGray;
                }
            }
         }
            a {
                img {
                    width: 100%;
                }
            }
        }
        .soccer {
            background-image: url(/nike_clone/image/feature3.webp);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 65vh;
            h1 {
                padding: 1rem 0;
                width: 55%;
            }
        }
        .national {
            background-image: url(/nike_clone/image/feature4.webp);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 65vh;
            h1 {
                padding: 1rem 0;
            }
        }
    }
    
}

/*------------Scrolling Image-----------*/
.horizontal-scroll-section {
    min-height: 70vh;
    @include flexcenter;
    h2 {
        padding-bottom: 2rem;
    }
        .scroll-content {
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            .scroll-img {
              display: inline-block;
              margin: 0.3rem;
              a {
                img {
                    width: 100%;
                }
              }
            }
          }
    
}
/*---------------Shop by Sport--------*/
.shop-sport-section {
    min-height: 70vh;
    @include flexcenter;
    margin-top: 3rem;
    h2 {
        padding-bottom: 2rem;
    }
    .sport-content {
        @include flexspacebetween;

        .sport-img {
            h2 {
                padding: 1.5rem 0 .5rem 0;
            }
            p {
                padding-bottom: 2rem;
            }
            a {
                color: $offBlack;
                text-decoration: underline;
                img {
                    width: 100%;
                }
            }
        }
    }
}

/*----------------Membership-----------*/
.membership-section {
    margin-top: 4rem;
    min-height: 53vh;
    @include flexcenter;
    
    h2 {
        padding-bottom: 2rem;
    }
    .nike-member-content {
        color: #fff;
        background-image: url(/nike_clone/image/nikemember.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 43vh;

       .content {
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        min-height: 40vh;
        h1 {
            font-family: sans-serif;
            font-weight: bold;
            font-size: 4rem;
            margin-bottom: 0.5rem;
            width: 30%;
           
        }
        .button-div {
            margin-top: 1rem;
           
            .btn {
                padding: 0.5rem 1rem;
                background: #fff;
                color: $offBlack;
                cursor: pointer;
                border: none;
                border-radius: 50px 50px;
                transition: .1s ease-in-out;
                &:hover {
                    background: $darkGray;
                }
            }
        }
       }
    }
   
}
/*-------------Exclusive---------------------*/
.exclusive-section {
    min-height: 80vh;
    @include flexcenter;
    .exclusive-content {
        @include flexspacebetween;
        .exclusive-img {
            a {
                text-decoration: none;
                color: $offBlack;
                img {
                    width: 100%;
                }
                p {
                    padding-bottom: 0.8rem;
                }
                
            }
        }
    }
}
/*------------------Pre Footer----------------*/
.pre-footer-nav {
    min-height: 50vh;
    @include flexcenter;

    .navigation-content {
        width: 50%;
        margin: 0 auto;
        @include flexspacebetween;
        .content {
            width: 25%;
            p {
                padding-bottom: 0.5rem;
            }
            ul {
                li {
                    list-style-type: none;
                    padding: 0.5rem 0;
                    a {
                        text-decoration: none;
                        color: $darkGray;
                    }
                }
            }
        }
    }
}
/*------------------Footer--------------------*/
.footer {
    min-height: 40vh;
    background: $offBlack;
    @include flexcenter;
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 80%;
        margin: 0 auto;
        .content {
            @include flexalignstart;
            .inner-content {
                padding: 0 2rem;
                li {
                    list-style-type: none;
                    padding: 0.5rem 0;
                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }

            }
            .footer-icon {
                color: $offBlack;
                margin: 0.5rem;
               
                i {
                    background: $darkGray;
                    padding: 0.5rem;
                    border-radius: 50px 50px;
                    font-size: 1.2rem;
                    transition: .1s ease-in-out;
                    &:hover {
                        background: #fff;
                       }
                }
            }
            
        }
    }
}